# 1. Deployment: The actual Frontend Pods
apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkhub-frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkhub-frontend
  template:
    metadata:
      labels:
        app: linkhub-frontend
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: linkhub-frontend
          image: 408834627625.dkr.ecr.ap-south-1.amazonaws.com/linkhub-frontend:51820d3b236fec36712c8bfa0612eaac77982e54
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "200Mi"
              cpu: "100m"
            limits:
              memory: "350Mi"
              cpu: "500m"

---

# 2. Service
apiVersion: v1
kind: Service
metadata:
  name: linkhub-frontend
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: linkhub-frontend